{% extends "register.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <!--<form action="/register" method="post">  <!--User to put in stock symbol-->-->
    <!--    <div class="form-group">-->
    <!--        <input class="form-control" name="stock symbol" placeholder="stock symbol" type="text"/>-->

    <!--    <button class="btn btn-primary" type="submit">Search</button> <!--Button that user can click to search for stock symbol-->-->
    <!--</form>-->
{% endblock %}